.blanc{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: white;
}
#onglet{
    margin-left: 60px;
    margin-right: 60px;
    justify-content: center;
}
.btn-primary, .btn-danger, .btn-light{
    margin-right: 10px;
    margin-bottom: 5px;
}