html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #0F0F0F;
    margin-top: -20px;
}

h1 {
    color: #0091E9;
    padding-left: 10px;
    font-size: x-large;
}

.container {
    height: 30%;
    min-height: 25%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.container-1 {
    height: 100%;
    width: 50%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.container-1 img {
    width: 100%;
}

.container-1 section {
    width: 100%;
}

.container-1 article {
    flex: 1;
}

.container-1 article p {
   padding-top: 10px;
   color: #ff6811;
}

header {
    padding-top: 50px;
    padding-bottom: 10px;
}

header img {
    height: 150px;
}

h2 {
    color: #0091E9;
    padding: 0 25px;
    font-size: large;
}

.container header.box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
}

.container .box {
    text-align: center;
    font-family: sans-serif;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.container .box-1 {
    webkit-box-flex: 1;
    flex: 1;
}

.soustitre {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

footer {
    display: flex; /* Ce conteneur est "flexible" */
    padding-top: 25px;
    padding-bottom: 12.5px;
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    align-items: center; /* Les éléments portés sont centrés à la verticale */
    position: fixed; /* Le conteneur est fixé en fonction de ses coordonnées (à 0px du bas) */
    bottom: 0px; /* Bas */
    height: 20px; /* Hauteur */
    width: 100%; /* Le pied de page occupe toute la largeur */ 
    background-color: black;
    color: #bbb; /* Couleur du texte */
    text-align:center; /* Texte centré */
}

.imgtaille{
    width: 200px;
    height: 300px;
}

nav input{display: none;}
@media screen and (max-width:768px) {
    
    p{
        text-align: center !important;
       
    }  
    .container-1{
        width: 100% !important;
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }
    nav {
        /*display: block;*/
        position: relative;
        top: 7px;
        left: 7px;
        z-index: 10;
    }

    nav ul {
        display: flex; /* Ce conteneur est "flexible" */
        flex-direction: column; /* Les éléments sont mis côte à côte */
        align-items: flex-start; /* Alignement sur la gauche */
        position: absolute;
        margin: -39px 0 0 -6.5px;
        padding: 50px 10px 10px 60px;
        background: black;
        list-style-type: none;
        transform: translate(-100%, 0);
        transition: transform 0.5s ease;
    }

    nav ul li {
        display: list-item;
        padding: 10px 0;
        width: 100%;
    }


    nav input {
        display: block; /* Affichage de l'input pour pouvoir cliquez dessus */
        position: absolute;
        opacity: 0; /* input transparent */
        z-index: 2; /* On le place au-dessus du bouton de menu (hamburger) */
    }

    /* Création artificielle de l'icone de menu (hamburger) */
    nav span {
        display: block;
        width: 30px;
        height: 5px;
        margin-bottom: 5px;
        position: relative;
        background: grey;
        border-radius: 3px;
        z-index: 1; /* En dessous de l'input défini avant */
        /*transform-origin: 4px 0px; /* Modification du centre pour rotation */
        transition: transform 0.5s ease, background 0.5s ease, opacity 0.55s ease;
    }

    /* Toutes les barres en blanc */
    nav input:checked ~ span {
        background: white;
    }

    /* On fait pivoter la première de 45° (sens horaire) */
    nav input:checked ~ span:nth-child(2) {
        transform: rotate(45deg) translate(7px, 5px);
    }

    /* On fait pivoter la dernière de 45° (sens anti-horaire) */
    nav input:checked ~ span:nth-child(4) {
        transform: rotate(-45deg) translate(10px, -6px);
    }

    /* On cache la barre du milieu */
    nav input:checked ~ span:nth-child(3) {
        opacity: 0; 
    }

    /* On annule la translation vers la gauche qui a caché le menu */
    nav input:checked ~ ul {
        transform: none;
    }
}